frontend.url=https://misitio.es/
server.forward-headers-strategy=native
server.tomcat.redirect-context-root=false
spring.security.oauth2.client.registration.google.redirect-uri=https://misitio.es/login/oauth2/code/google